[core]
logging_conf_file: /etc/luigi/logging.conf

[scheduler]
record_task_history: True
state_path: /luigi/state/luigi-state.pickle
# remove_delay is the length of time that tasks are kept on the visualizer
remove_delay: 172800

[task_history]
db_connection: sqlite:////luigi/state/luigi-task-history.db
